VBox {
    -fx-alignment: center;
    -fx-spacing: 20px;
    -fx-padding: 20px;
}

.container{
    -fx-background-image: url("../images/welcome-bg.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0.6); /* soft fade */
}


Button {
    -fx-background-color: rgba(70, 130, 180, 0.85); /* Soft Steel Blue */
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto";
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 8, 0.3, 0, 2);
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-width: 1px;
}

Button:hover {
    -fx-background-color: rgba(46, 99, 139, 0.9); /* Darker hover */
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
    -fx-transition: all 0.2s ease-in-out;
}
